---
import Carousel from "../Carousel.astro";
import CarouselModal from "../CarouselModal.astro";

type Slide = {
  image: string;
  sector: string;
  caption: string;
  link?: string;
  problem: string;
  solution: string;
  value: string;
  fullDescription: string;
};

type Props = {
  title: string;
  subtitle: string;
  slides: Slide[];
};

const { title, subtitle, slides } = Astro.props as Props;
---

<section class="py:8 md:py-24 text-center" id="pathfinders">
  <div class="shell">
    <h3>{title}</h3>
    <h4>{subtitle}</h4>
  </div>
  <Carousel slides={slides} />
  <CarouselModal slides={slides} />
</section>
