---
import { marked } from "marked";

interface Slide {
  image: string;
  content: string;
  button?: string;
}

interface Props {
  type: "how";
  slides: Slide[];

}

const { slides } = Astro.props;
---

<section
  class="how-and-who-section relative w-full h-150 sm:h-177.5"
  id="credibility"
>

  <div class="swiper how-and-who-swiper h-full">
    <div class="swiper-wrapper">
      {
        slides.map((slide) => (
          <div class="swiper-slide bg-white">
            <div class="relative w-full h-150 sm:h-177.5 flex items-center justify-center">
              <img
                src={slide.image}
                class="mix-blend-multiply w-full h-full object-cover absolute"
                loading="lazy"
              />

              <div class="relative z-10 max-w-4xl px-8 text-white text-left font-sans">
                <div
                  class="content mb-6"
                  set:html={marked.parse(slide.content)}
                />

               
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <div class="hidden md:block absolute w-full top-1/2 left-0">
      <div class="shell flex justify-between">
        <div
          class="swiper-button-prev h-18.5! w-6.5! relative!"
        >
        </div>
        <div
          class="swiper-button-next h-18.5! w-6.5! relative!"
        >
        </div>
      </div>
    </div>
    <div class="swiper-pagination top-auto! bottom-9!"></div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, Autoplay } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  new Swiper(".how-and-who-swiper", {
    modules: [Navigation, Pagination, Autoplay],
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    autoplay: { delay: 5000 },
    loop: true,
  });
</script>
