---
import "swiper/css";
type Slide = {
  image: string;
  sector: string;
  caption: string;
  link?: string;
  problem: string;
  solution: string;
  value: string;
  fullDescription: string;
};
type Props = {
  slides: Slide[];
};
const { slides } = Astro.props as Props;
// Duplicate slides to ensure smooth looping
const duplicatedSlides = [...slides, ...slides, ...slides];
---

<!-- Swiper Main Container -->
<div class="swiper my-10 h-137.5 w-full text-left relative">
  <div class="swiper-wrapper">
    {
      duplicatedSlides.map((slide, index) => (
        <div class="swiper-slide relative overflow-hidden">
          <div class="absolute z-20 bottom-36 px-6">
            <span class="text-lg uppercase tracking-widest text-[#00A7E7] font-sans">
              {slide.sector}
            </span>
            <p class="text-3xl uppercase tracking-tighter leading-7 font-semibold font-sans">
              {slide.caption}
            </p>
          </div>

          <img
            src={slide.image}
            alt={slide.caption}
            class="w-full h-full object-cover absolute"
            loading="lazy"
          />
          <div class="bg-gradient-to-t from-indigo-900 to-transparent absolute z-10 top-0 left-0 h-full w-full" />
          <div class="absolute bottom-0 z-30 left-0 h-24 bg-[#100517] px-5 lg:px-10 w-full text-left text-white flex items-center justify-stretch">
            <button
              class="font-nunito tracking-widest font-black grid grid-cols-[1fr_auto] items-center gap-2 sm:gap-4 open-carousel-modal before:hidden w-full"
              data-index={index % slides.length}
            >
              <span class="text-left">DISCOVER &amp; LEARN</span>
              <span class="w-10.5 h-10.5 bg-[url(/src/assets/button-white.svg)] hidden sm:block" />
            </button>
          </div>
        </div>
      ))
    }
  </div>

  <div
    class="hidden md:block absolute w-full top-1/2 -translate-y-1/2 left-0 z-30"
  >
    <div class="flex justify-between px-5">
      <div
        class="swiper-button-prev-carousel h-18.5! w-6.5! bg-[url(/src/assets/arrow.svg)] [&>svg]:hidden rotate-180 relative! cursor-pointer"
      >
      </div>
      <div
        class="swiper-button-next-carousel h-18.5! w-6.5! bg-[url(/src/assets/arrow.svg)] [&>svg]:hidden relative! cursor-pointer"
      >
      </div>
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, Navigation } from "swiper/modules";
  function initSwiper() {
    new Swiper(".swiper", {
      modules: [Autoplay, Navigation],
      navigation: {
        nextEl: ".swiper-button-next-carousel",
        prevEl: ".swiper-button-prev-carousel",
      },
      loop: true,
      autoplay: { delay: 3000, pauseOnMouseEnter: true },
      slidesPerView: 1.5,
      spaceBetween: 20,
      centeredSlides: true,
      breakpoints: {
        640: {
          slidesPerView: 2.2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 3.5,
          spaceBetween: 30,
        },
      },
    });
  }
  // Initialize on first load
  initSwiper();
  // Re-initialize if using Astro View Transitions
  document.addEventListener("astro:page-load", initSwiper);
</script>
